############################################### PL clocks and reset #########################################
NET clock_generator_0_pll_pin 				LOC = D18   | IOSTANDARD = LVCMOS25;
NET clock_generator_0_pll_pin 				TNM_NET = clock_generator_0_pll;
TIMESPEC TS_clock_generator_0_pll = PERIOD clock_generator_0_pll 40.000 MHz;
#############################################Tx - FMC interface at 2.5V ######################################
NET clock_generator_0_tx_clk_pin			LOC = C17	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_tx_iq_sel_pin		LOC = B16	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[0]			LOC = A18	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[1]			LOC = A19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[2]			LOC = E20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[3]			LOC = G21	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[4]			LOC = F19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[5]			LOC = G15	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[6]			LOC = E19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[7]			LOC = G16	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[8]			LOC = G19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[9]			LOC = A16	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[10]		LOC = A17	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[11]		LOC = C18	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
################################################## MCU Interface ##########################################
NET mcu_axiw_0_mcu_reset_pin				LOC = K20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_tx_en_pin					LOC = D22	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_tr_sw_pin					LOC = D20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_rx_en_pin 					LOC = C22	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_pa_en_pin 					LOC = E21	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_init_done_pin 				LOC = K19	| IOSTANDARD = LVCMOS25;
###################################################### LEDs #############################################
NET clock_generator_0_LOCKED_pin           		LOC = T22 	| IOSTANDARD=LVCMOS33;  # "LD0"
NET mcu_axiw_0_blinky_mcu_pin							LOC = T21 	| IOSTANDARD=LVCMOS33;  # "LD1"
NET tx_axiw_0_blinky_tx_pin 						LOC = U22  	| IOSTANDARD=LVCMOS33;  # "LD2"
NET dac_driver_axiw_0_blinky_dac_driver_pin 		LOC = U21 	| IOSTANDARD=LVCMOS33;  # "LD3"