#######################################################################################
# PL clocks and reset
NET clock_generator_0_CLKIN_pin 		LOC = D18   | IOSTANDARD = LVCMOS25;
NET clock_generator_0_CLKIN_pin 		TNM_NET = clock_generator_0_CLKIN;
TIMESPEC TS_clock_generator_0_pll = PERIOD clock_generator_0_CLKIN 40.000 MHz;
#######################################################################################
# Chilipepper Rx and Tx clock lines
NET clock_generator_0_tx_clk_pin			LOC = C17	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET clock_generator_0_rx_clk_pin			LOC = J18	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
#######################################################################################
# Rx - FMC interface at 2.5V
NET adc_driver_rx_iq_sel_pin				LOC = N19	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[0]					LOC =	M21 	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[1]					LOC = J21	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[2]					LOC = M22	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[3]					LOC = J22	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[4]					LOC = T16	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[5]					LOC = P20	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[6]					LOC = T17	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[7]					LOC = N17	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[8]					LOC = J20	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[9]					LOC = P21	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[10]					LOC = N18	| IOSTANDARD = LVCMOS25;
NET adc_driver_rxd_pin[11]					LOC = J16	| IOSTANDARD = LVCMOS25;
#######################################################################################
# MCU interface
NET mcu_driver_mcu_reset_out_pin			LOC = K20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_driver_tx_en_pin					LOC = D22	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_driver_tr_sw_pin					LOC = D20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_driver_rx_en_pin 					LOC = C22	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_driver_pa_en_pin 					LOC = E21	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_driver_init_done_pin 				LOC = K19	| IOSTANDARD = LVCMOS25;
#######################################################################################
# LEDs
NET clock_generator_0_LOCKED_pin 		LOC = T22  | IOSTANDARD=LVCMOS33;  # "LD0"
NET adc_driver_blinky_pin 					LOC = T21  | IOSTANDARD=LVCMOS33;  # "LD1"
NET mcu_driver_blinky_pin 					LOC = U22  | IOSTANDARD=LVCMOS33;  # "LD2"