#######################################################################################
# PL clocks and reset
#######################################################################################
NET clock_generator_0_pll_pin LOC = D18    | IOSTANDARD = LVCMOS25;
NET clock_generator_0_pll_pin TNM_NET = clock_generator_0_pll;
TIMESPEC TS_clock_generator_0_pll = PERIOD clock_generator_0_pll 40.000 MHz;
#######################################################################################

#######################################################################################
# Tx - FMC interface at 2.5V
#######################################################################################
NET clock_generator_0_tx_clk_pin		LOC = C17	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_tx_iq_sel_pin	LOC = B16	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[0]		LOC = A18	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[1]		LOC = A19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[2]		LOC = E20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[3]		LOC = G21	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[4]		LOC = F19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[5]		LOC = G15	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[6]		LOC = E19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[7]		LOC = G16	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[8]		LOC = G19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[9]		LOC = A16	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[10]	LOC = A17	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET dac_driver_axiw_0_txd_pin[11]	LOC = C18	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;

#######################################################################################

#######################################################################################
# Rx
#######################################################################################
NET clock_generator_0_rx_clk_pin			LOC = J18	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST; # goes out to rx ADC
NET adc_driver_axiw_0_rx_iq_sel_pin		LOC = N19	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[0]			LOC =	M21 	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[1]			LOC = J21	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[2]			LOC = M22	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[3]			LOC = J22	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[4]			LOC = T16	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[5]			LOC = P20	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[6]			LOC = T17	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[7]			LOC = N17	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[8]			LOC = J20	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[9]			LOC = P21	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[10]		LOC = N18	| IOSTANDARD = LVCMOS25;
NET adc_driver_axiw_0_rxd_pin[11]		LOC = J16	| IOSTANDARD = LVCMOS25;

#######################################################################################

#######################################################################################
# MCU interface
#######################################################################################
NET axi_uartlite_0_RX_pin				LOC = R19	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET axi_uartlite_0_TX_pin				LOC = L21	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_mcu_reset_pin			LOC = K20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_tx_en_pin				LOC = D22	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_tr_sw_pin				LOC = D20	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_rx_en_pin 				LOC = C22	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_pa_en_pin 				LOC = E21	| IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = FAST;
NET mcu_axiw_0_init_done_pin 			LOC = K19	| IOSTANDARD = LVCMOS25;
#######################################################################################

#######################################################################################
# LEDs
#######################################################################################
#NET clock_generator_0_LOCKED_pin           	LOC = T22  | IOSTANDARD=LVCMOS33;  # "LD0"
#NET mcu_axiw_0_blinky_mcu_pin						LOC = T21  | IOSTANDARD=LVCMOS33;  # "LD1"
#NET tx_axiw_0_blinky_tx_pin  						LOC = U22  | IOSTANDARD=LVCMOS33;  # "LD2"
#NET dac_driver_axiw_0_blinky_dac_driver_pin  LOC = U21  | IOSTANDARD=LVCMOS33;  # "LD3"
#NET adc_driver_axiw_0_blinky_adc_driver_pin  LOC = V22  | IOSTANDARD=LVCMOS33;  # "LD4"
#NET rx_axiw_0_blinky_rx_driver_pin           LOC = W22  | IOSTANDARD=LVCMOS33;  # "LD5"
#NET axi_gpio_0_GPIO_IO_pin  						LOC = U19  | IOSTANDARD=LVCMOS33;  # "LD6"
#NET axi_gpio_0_GPIO2_IO_pin        				LOC = U14  | IOSTANDARD=LVCMOS33;  # "LD7"
NET axi_gpio_gain_GPIO_IO_O_pin[0]		LOC = U14 | IOSTANDARD=LVCMOS33; # LD7
NET axi_gpio_gain_GPIO_IO_O_pin[1]		LOC = U19 | IOSTANDARD=LVCMOS33; # LD6
NET axi_gpio_gain_GPIO_IO_O_pin[2]		LOC = W22 | IOSTANDARD=LVCMOS33; # LD5
NET axi_gpio_gain_GPIO_IO_O_pin[3]		LOC = V22 | IOSTANDARD=LVCMOS33; # LD4
NET axi_gpio_gain_GPIO_IO_O_pin[4]		LOC = U21 | IOSTANDARD=LVCMOS33; # LD3
NET axi_gpio_gain_GPIO_IO_O_pin[5]		LOC = U22 | IOSTANDARD=LVCMOS33; # LD2

NET axi_gpio_0_GPIO_IO_pin           	LOC = T22  | IOSTANDARD=LVCMOS33;  # "LD0"
NET axi_gpio_0_GPIO2_IO_pin				LOC = T21  | IOSTANDARD=LVCMOS33;  # "LD1"
#######################################################################################

#######################################################################################
# SWITCHes
#######################################################################################
NET axi_gpio_switch_test_modes_GPIO_IO[0]	LOC = F22  | IOSTANDARD=LVCMOS25;  # "SW0"
NET axi_gpio_switch_test_modes_GPIO_IO[1]	LOC = G22  | IOSTANDARD=LVCMOS25;  # "SW1"

NET axi_gpio_pa_GPIO_IO_I_pin[0]	LOC = M15  | IOSTANDARD=LVCMOS25;  # SW7
NET axi_gpio_pa_GPIO_IO_I_pin[1]	LOC = H17  | IOSTANDARD=LVCMOS25;  # SW6
NET axi_gpio_pa_GPIO_IO_I_pin[2]	LOC = H18  | IOSTANDARD=LVCMOS25;  # SW5
NET axi_gpio_pa_GPIO_IO_I_pin[3]	LOC = H19  | IOSTANDARD=LVCMOS25;  # SW4
NET axi_gpio_pa_GPIO_IO_I_pin[4]	LOC = F21  | IOSTANDARD=LVCMOS25;  # SW3
#######################################################################################

#######################################################################################
# Buttons
#######################################################################################
NET axi_gpio_button_GPIO_IO_I_pin LOC = P16  | IOSTANDARD=LVCMOS25;  # "BTCenter"
#######################################################################################
